<!DOCTYPE html>
<html>
<head>
  <title><%= @title %>|Techoweb Enterprises</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navbar
    ================================================== -->
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">    <%= image_tag("logo.resized.png",:alt => "techoweb") %></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a data-toggle="modal" href="http://en.wikipedia.org/wiki/Happy" data-target="#happy">Happy <%= Time.now.strftime("%A") %>!</a></li>
              <li><a href="#">Blog<span class="badge"><small><em></em></small></span></a></li>
              <li><a data-toggle="modal" href="#" data-target="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<%= yield %>



</body>
</html>
